.element-announcement-wrapper {
    overflow: hidden;
}

.element-announcement-wrapper .line-68 {
    height: 1px;
    left: -46960px;
    object-fit: cover;
    position: absolute;
    top: -34606px;
    width: 62px;
}

.element-announcement-wrapper .overlap-29 {
    height: 1064px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.element-announcement-wrapper .group-238 {
    background-color: var(--white);
    border-color: var(--gray-5);
    border-right-style: solid;
    border-right-width: 1px;
    height: 1064px;
    left: 0;
    position: absolute;
    top: 0;
    width: 280px;
}

.element-announcement-wrapper .group-239 {
    height: 588px;
    left: -1px;
    position: absolute;
    top: 27px;
    width: 265px;
}

.element-announcement-wrapper .frame-369 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 28px;
    height: 72px;
    left: 32px;
    position: absolute;
    top: 0;
}

.element-announcement-wrapper .logo-16 {
    height: 43px;
    position: relative;
    width: 159px;
}

.element-announcement-wrapper .bright-web-18 {
    height: 23px;
    left: 2px;
    position: absolute;
    top: 10px;
    width: 160px;
}

.element-announcement-wrapper .line-69 {
    background-color: var(--gray-4);
    height: 216px;
    margin-bottom: -107.5px;
    margin-top: -36.5px;
    position: relative;
    transform: rotate(90deg);
    width: 1px;
}

.element-announcement-wrapper .frame-370 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 102px;
}

.element-announcement-wrapper .group-240 {
    height: 52px;
    position: relative;
    width: 265px;
}

.element-announcement-wrapper .group-241 {
    height: 52px;
    left: 20px;
    position: relative;
    width: 245px;
}

.element-announcement-wrapper .frame-371 {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 14px;
    position: relative;
    top: 14px;
}

.element-announcement-wrapper .frame-372 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
}

.element-announcement-wrapper .bold-settings-fine-18 {
    height: 20px;
    position: relative;
    width: 20px;
}

.element-announcement-wrapper .text-115 {
    color: var(--gray-1);
    font-family: var(--semibold-14-font-family);
    font-size: var(--semibold-14-font-size);
    font-style: var(--semibold-14-font-style);
    font-weight: var(--semibold-14-font-weight);
    letter-spacing: var(--semibold-14-letter-spacing);
    line-height: var(--semibold-14-line-height);
    margin-top: -0.5px;
    position: relative;
    width: 151px;
}

.element-announcement-wrapper .frame-373 {
    align-items: center;
    display: flex;
    gap: 12px;
    height: 26px;
    left: 14px;
    position: relative;
    top: 13px;
    width: 202px;
}

.element-announcement-wrapper .icon-instance-node-53 {
    height: 22px !important;
    position: relative !important;
    width: 22px !important;
}

.element-announcement-wrapper .text-116 {
    color: var(--gray-1);
    font-family: var(--h10-medium-font-family);
    font-size: var(--h10-medium-font-size);
    font-style: var(--h10-medium-font-style);
    font-weight: var(--h10-medium-font-weight);
    letter-spacing: var(--h10-medium-letter-spacing);
    line-height: var(--h10-medium-line-height);
    position: relative;
    width: fit-content;
}

.element-announcement-wrapper .frame-374 {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 13px;
    position: relative;
    top: 14px;
}

.element-announcement-wrapper .text-117 {
    color: var(--gray-1);
    font-family: var(--h10-medium-font-family);
    font-size: var(--h10-medium-font-size);
    font-style: var(--h10-medium-font-style);
    font-weight: var(--h10-medium-font-weight);
    letter-spacing: var(--h10-medium-letter-spacing);
    line-height: var(--h10-medium-line-height);
    position: relative;
    width: 149px;
}

.element-announcement-wrapper .text-118 {
    color: #202224;
    font-family: var(--h10-medium-font-family);
    font-size: var(--h10-medium-font-size);
    font-style: var(--h10-medium-font-style);
    font-weight: var(--h10-medium-font-weight);
    letter-spacing: var(--h10-medium-letter-spacing);
    line-height: var(--h10-medium-line-height);
    position: relative;
    width: 149px;
}

.element-announcement-wrapper .group-242 {
    display: block;
    height: 52px;
    position: relative;
    width: 265px;
}

.element-announcement-wrapper .hide-bg-copy-18 {
    background: linear-gradient(180deg, rgb(254, 81, 46) 0%, rgb(240, 150, 25) 100%);
    border-radius: 0px 5px 5px 0px;
    height: 54px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 9px;
}

.element-announcement-wrapper .group-243 {
    height: 52px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 245px;
}

.element-announcement-wrapper .overlap-group-19 {
    background: linear-gradient(180deg, rgb(254, 81, 46) 0%, rgb(240, 150, 25) 100%);
    border-radius: 10px;
    height: 54px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 247px;
}

.element-announcement-wrapper .frame-375 {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 14px;
    position: relative;
    top: 15px;
}

.element-announcement-wrapper .text-119 {
    color: var(--white);
    font-family: var(--h10-medium-font-family);
    font-size: var(--h10-medium-font-size);
    font-style: var(--h10-medium-font-style);
    font-weight: var(--h10-medium-font-weight);
    letter-spacing: var(--h10-medium-letter-spacing);
    line-height: var(--h10-medium-line-height);
    position: relative;
    width: 151px;
}

.element-announcement-wrapper .frame-376 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    left: 33px;
    position: absolute;
    top: 951px;
}

.element-announcement-wrapper .frame-377 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    opacity: 0;
    position: relative;
}

.element-announcement-wrapper .text-wrapper-120 {
    color: var(--gray-2);
    font-family: var(--h6-regular-font-family);
    font-size: var(--h6-regular-font-size);
    font-style: var(--h6-regular-font-style);
    font-weight: var(--h6-regular-font-weight);
    letter-spacing: var(--h6-regular-letter-spacing);
    line-height: var(--h6-regular-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.element-announcement-wrapper .line-70 {
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 212px;
}

.element-announcement-wrapper .frame-378 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.element-announcement-wrapper .icon-instance-node-54 {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.element-announcement-wrapper .text-wrapper-121 {
    color: var(--red);
    font-family: var(--h6-regular-font-family);
    font-size: var(--h6-regular-font-size);
    font-style: var(--h6-regular-font-style);
    font-weight: var(--h6-regular-font-weight);
    letter-spacing: var(--h6-regular-letter-spacing);
    line-height: var(--h6-regular-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.element-announcement-wrapper .component-100 {
    left: 280px !important;
    position: absolute !important;
    top: 0 !important;
}

.element-announcement-wrapper .vuesax-bold-15 {
    height: 26px !important;
    position: relative !important;
    width: 26px !important;
}

.element-announcement-wrapper .frame-379 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 15px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 310px;
    padding: 20px;
    position: absolute;
    top: 130px;
}

.element-announcement-wrapper .frame-380 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.element-announcement-wrapper .frame-381 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 1143px;
    position: relative;
}

.element-announcement-wrapper .text-wrapper-122 {
    color: #202224;
    font-family: var(--h4-semi-bold-font-family);
    font-size: var(--h4-semi-bold-font-size);
    font-style: var(--h4-semi-bold-font-style);
    font-weight: var(--h4-semi-bold-font-weight);
    letter-spacing: var(--h4-semi-bold-letter-spacing);
    line-height: var(--h4-semi-bold-line-height);
    position: relative;
    width: fit-content;
}

.element-announcement-wrapper .component-101 {
    flex: 0 0 auto !important;
}

.element-announcement-wrapper .frame-382 {
    align-items: flex-start;
    display: flex;
    flex: auto;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
}

.element-announcement-wrapper .group-244 {
    height: 207px !important;
    position: relative !important;
}

.element-announcement-wrapper .group-245 {
    height: 207px !important;
}

.element-announcement-wrapper .vuesax-bold-more-4 {
    height: 24px !important;
    left: 316px !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
}

.element-announcement-wrapper .group-246 {
    height: 153px !important;
}

.element-announcement-wrapper .group-247 {
    display: flex !important;
    gap: 84px !important;
    width: 340px !important;
}

.element-announcement-wrapper .group-248 {
    flex: 1 !important;
    width: unset !important;
}

.element-announcement-wrapper .group-249 {
    align-self: unset !important;
    gap: 16px !important;
    justify-content: unset !important;
    width: 340px !important;
}

.element-announcement-wrapper .group-250 {
    top: 38px !important;
}

.element-announcement-wrapper .group-251 {
    height: 207px;
    position: relative;
    width: 370px;
}

.element-announcement-wrapper .frame-383 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.element-announcement-wrapper .group-252 {
    background-color: var(--link);
    height: 54px;
    position: relative;
    width: 370px;
}

.element-announcement-wrapper .group-253 {
    height: 24px;
    left: 15px;
    position: relative;
    top: 15px;
    width: 342px;
}

.element-announcement-wrapper .label-30 {
    color: var(--white);
    font-family: var(--h6-medium-font-family);
    font-size: var(--h6-medium-font-size);
    font-style: var(--h6-medium-font-style);
    font-weight: var(--h6-medium-font-weight);
    left: 0;
    letter-spacing: var(--h6-medium-letter-spacing);
    line-height: var(--h6-medium-line-height);
    position: absolute;
    top: 0;
}

.element-announcement-wrapper .group-254 {
    height: 153px;
    position: relative;
    width: 370px;
}

.element-announcement-wrapper .frame-384 {
    align-items: flex-start;
    background-color: var(--white);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #5677e84c;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 0px 0px 10px 10px;
    border-right-style: solid;
    border-right-width: 1px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    position: relative;
}

.element-announcement-wrapper .frame-385 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    position: relative;
}

.element-announcement-wrapper .frame-386 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 84px;
    position: relative;
    width: 340px;
}

.element-announcement-wrapper .label-31 {
    color: var(--gray-1);
    flex: 1;
    font-family: var(--h7-regular-font-family);
    font-size: var(--h7-regular-font-size);
    font-style: var(--h7-regular-font-style);
    font-weight: var(--h7-regular-font-weight);
    letter-spacing: var(--h7-regular-letter-spacing);
    line-height: var(--h7-regular-line-height);
    margin-top: -1px;
    position: relative;
}

.element-announcement-wrapper .text-wrapper-123 {
    color: #202224;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.element-announcement-wrapper .frame-387 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 340px;
}

.element-announcement-wrapper .frame-388 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.element-announcement-wrapper .label-32 {
    color: var(--gray-1);
    font-family: var(--h7-regular-font-family);
    font-size: var(--h7-regular-font-size);
    font-style: var(--h7-regular-font-style);
    font-weight: var(--h7-regular-font-weight);
    letter-spacing: var(--h7-regular-letter-spacing);
    line-height: var(--h7-regular-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.element-announcement-wrapper .text-120 {
    color: #202224;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
    position: relative;
    width: 340px;
}

.element-announcement-wrapper .label-33 {
    color: #202224;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
    margin-top: -1px;
    position: relative;
    text-align: right;
    width: fit-content;
}

.element-announcement-wrapper .rectangle-49 {
    background-color: #202224;
    height: 1064px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 1920px;
}

.element-announcement-wrapper .frame-389 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    gap: 20px;
    left: 792px;
    padding: 20px;
    position: absolute;
    top: 225px;
}

.element-announcement-wrapper .frame-390 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.element-announcement-wrapper .frame-391 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.element-announcement-wrapper .text-wrapper-124 {
    color: #202224;
    font-family: var(--h4-semi-bold-font-family);
    font-size: var(--h4-semi-bold-font-size);
    font-style: var(--h4-semi-bold-font-style);
    font-weight: var(--h4-semi-bold-font-weight);
    letter-spacing: var(--h4-semi-bold-letter-spacing);
    line-height: var(--h4-semi-bold-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.element-announcement-wrapper .line-71 {
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 370px;
}

.element-announcement-wrapper .input-field-18 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.element-announcement-wrapper .label-34 {
    align-self: stretch;
    color: transparent;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
    margin-top: -1px;
    position: relative;
}

.element-announcement-wrapper .text-wrapper-125 {
    color: #202224;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
}

.element-announcement-wrapper .text-wrapper-126 {
    color: #e74c3c;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
}

.element-announcement-wrapper .component-102 {
    align-self: stretch !important;
    height: 65px !important;
    width: 100% !important;
}

.element-announcement-wrapper .input-field-19 {
    align-items: flex-start;
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.element-announcement-wrapper .component-104 {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    width: 100% !important;
}

.element-announcement-wrapper .component-105 {
    margin-top: -1px !important;
}

.element-announcement-wrapper .input-field-20 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.element-announcement-wrapper .component-106 {
    align-self: stretch !important;
    width: 100% !important;
}

.element-announcement-wrapper .component-107 {
    width: fit-content !important;
}

.element-announcement-wrapper .frame-392 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.element-announcement-wrapper .frame-392 .component {
    width: 100%;
}

.element-announcement-wrapper .frame-392 .component-9 {
    width: 100%;
}

.element-announcement-wrapper .component-108 {
    align-self: stretch !important;
    display: flex !important;
    padding: 10px 55px !important;
    width: 175px !important;
}

.element-announcement-wrapper .component-109 {
    font-family: var(--h6-medium-font-family) !important;
    font-size: var(--h6-medium-font-size) !important;
    font-style: var(--h6-medium-font-style) !important;
    font-weight: var(--h6-medium-font-weight) !important;
    letter-spacing: var(--h6-medium-letter-spacing) !important;
    line-height: var(--h6-medium-line-height) !important;
    margin-top: unset !important;
}

.element-announcement-wrapper .component-110 {
    align-self: stretch !important;
    display: flex !important;
    padding: 12px 53px !important;
    width: 175px !important;
}

.element-announcement-wrapper .frame-392 .component-9 {
    flex: auto;
    align-self: auto;
}

@media screen and (max-width: 768px) {
    .element-announcement-wrapper .frame-389 {
      left: 325px;
      top: 32px;
    }
  }
  
  @media screen and (max-width: 767px) {
      .element-announcement-wrapper .frame-389 {
        left: 185px;
      }
    }
  
    @media screen and (max-width: 600px) {
      .element-announcement-wrapper .frame-389 {
          left: 75px;
      }
  }
  
  @media screen and (max-width: 475px) {
      .element-announcement-wrapper .frame-389 {
          left: 35px;
      }
  }
  
  @media screen and (max-width: 425px) {
      .element-announcement-wrapper .frame-389 {
          left: 7px;
      }
  }
  
  @media screen and (max-width: 375px) {
      .element-announcement-wrapper .frame-389 {
          left: 0px;
      }
  
      .element-announcement-wrapper .frame-392 .gray-button-false.border-button-true {
          margin-bottom: 0px;
      }

      .element-announcement-wrapper .frame-382 {
        flex-direction: column;
      }

      .element-announcement-wrapper .input-field-18 .custom-input, .element-announcement-wrapper .input-field-19 .custom-input, .element-announcement-wrapper .input-field-20 .custom-input {
        width: 100% !important;
      }
  }

  @media screen and (max-width: 320px) {
    .element-announcement-wrapper .input-field-18 .custom-input, .element-announcement-wrapper .input-field-19 .custom-input, .element-announcement-wrapper .input-field-20 .custom-input {
        width: 100% !important;
      }
   }