.video-call-container {
  border-radius: 10px;
}
.C7PnSkxqD6bOXhZlRlcc {
  height: auto;
  border: none;
  border-radius: 10px;
  padding-left: 25px;
  background: transparent;
}

.E35Jx2Pn0MRpUgKdEqSQ > div {
  height: auto;
}

/* audio {
    width: 276px !important;
    height: 48px !important;
} */
