.element-add-expenses {
    overflow: hidden;
}

.element-add-expenses .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.element-add-expenses .line-89 {
    height: 1px;
    left: -46960px;
    object-fit: cover;
    position: absolute;
    top: -21194px;
    width: 62px;
}

.element-add-expenses .date-field {
    height: 90px;
}

.element-add-expenses .overlap-38 {
    height: 1064px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.element-add-expenses .group-291 {
    background-color: var(--white);
    border-color: var(--gray-5);
    border-right-style: solid;
    border-right-width: 1px;
    height: 1064px;
    left: 0;
    position: absolute;
    top: 0;
    width: 280px;
}

.element-add-expenses .group-292 {
    height: 707px;
    left: -1px;
    position: absolute;
    top: 27px;
    width: 265px;
}

.element-add-expenses .frame-505 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 102px;
}

.element-add-expenses .group-293 {
    height: 52px;
    position: relative;
    width: 265px;
}

.element-add-expenses .group-294 {
    height: 52px;
    left: 20px;
    position: relative;
    width: 245px;
}

.element-add-expenses .frame-506 {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 14px;
    position: relative;
    top: 14px;
}

.element-add-expenses .frame-507 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
}

.element-add-expenses .bold-settings-fine-20 {
    height: 20px;
    position: relative;
    width: 20px;
}

.element-add-expenses .text-158 {
    color: var(--gray-1);
    font-family: var(--h10-medium-font-family);
    font-size: var(--h10-medium-font-size);
    font-style: var(--h10-medium-font-style);
    font-weight: var(--h10-medium-font-weight);
    letter-spacing: var(--h10-medium-letter-spacing);
    line-height: var(--h10-medium-line-height);
    margin-top: -1px;
    position: relative;
    width: 151px;
}

.element-add-expenses .icon-instance-node-63 {
    height: 22px !important;
    position: relative !important;
    width: 22px !important;
}

.element-add-expenses .text-159 {
    color: var(--gray-1);
    font-family: var(--h10-medium-font-family);
    font-size: var(--h10-medium-font-size);
    font-style: var(--h10-medium-font-style);
    font-weight: var(--h10-medium-font-weight);
    letter-spacing: var(--h10-medium-letter-spacing);
    line-height: var(--h10-medium-line-height);
    position: relative;
    width: 150px;
}

.element-add-expenses .group-295 {
    height: 171px;
    position: relative;
    width: 265px;
}

.element-add-expenses .group-296 {
    background-color: var(--white);
    display: block;
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    width: 265px;
}

.element-add-expenses .hide-bg-copy-21 {
    background: linear-gradient(180deg, rgb(254, 81, 46) 0%, rgb(240, 150, 25) 100%);
    border-radius: 0px 5px 5px 0px;
    height: 54px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 9px;
}

.element-add-expenses .group-297 {
    height: 52px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 245px;
}

.element-add-expenses .overlap-group-28 {
    background: linear-gradient(180deg, rgb(254, 81, 46) 0%, rgb(240, 150, 25) 100%);
    border-radius: 10px;
    height: 54px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 247px;
}

.element-add-expenses .frame-508 {
    align-items: center;
    background: linear-gradient(180deg, rgb(254, 81, 46) 0%, rgb(240, 150, 25) 100%);
    display: inline-flex;
    gap: 12px;
    left: 14px;
    position: relative;
    top: 15px;
}

.element-add-expenses .text-160 {
    color: var(--white);
    font-family: var(--h10-medium-font-family);
    font-size: var(--h10-medium-font-size);
    font-style: var(--h10-medium-font-style);
    font-weight: var(--h10-medium-font-weight);
    letter-spacing: var(--h10-medium-letter-spacing);
    line-height: var(--h10-medium-line-height);
    position: relative;
    width: fit-content;
}

.element-add-expenses .icon-instance-node-64 {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.element-add-expenses .group-298 {
    height: 99px;
    left: 44px;
    position: absolute;
    top: 72px;
    width: 152px;
}

.element-add-expenses .overlap-39 {
    height: 99px;
    position: relative;
}

.element-add-expenses .rectangle-111 {
    background-color: var(--gray-4);
    border-radius: 10px;
    height: 99px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}

.element-add-expenses .frame-509 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 0;
}

.element-add-expenses .frame-510 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
}

.element-add-expenses .rectangle-112 {
    background-color: #202224;
    border-radius: 10px;
    height: 26px;
    opacity: 0;
    position: relative;
    width: 2px;
}

.element-add-expenses .text-161 {
    color: var(--gray-1);
    font-family: var(--h7-regular-font-family);
    font-size: var(--h7-regular-font-size);
    font-style: var(--h7-regular-font-style);
    font-weight: var(--h7-regular-font-weight);
    letter-spacing: var(--h7-regular-letter-spacing);
    line-height: var(--h7-regular-line-height);
    position: relative;
    width: 130px;
}

.element-add-expenses .rectangle-113 {
    background-color: #202224;
    border-radius: 10px;
    height: 27px;
    position: relative;
    width: 2px;
}

.element-add-expenses .text-162 {
    color: #202224;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
    position: relative;
    width: 130px;
}

.element-add-expenses .group-299 {
    display: block;
    height: 52px;
    position: relative;
    width: 265px;
}

.element-add-expenses .text-163 {
    color: var(--gray-1);
    font-family: var(--h10-medium-font-family);
    font-size: var(--h10-medium-font-size);
    font-style: var(--h10-medium-font-style);
    font-weight: var(--h10-medium-font-weight);
    letter-spacing: var(--h10-medium-letter-spacing);
    line-height: var(--h10-medium-line-height);
    position: relative;
    width: 149px;
}

.element-add-expenses .frame-511 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 28px;
    height: 72px;
    left: 32px;
    position: absolute;
    top: 0;
}

.element-add-expenses .logo-19 {
    height: 43px;
    position: relative;
    width: 159px;
}

.element-add-expenses .bright-web-21 {
    height: 23px;
    left: 2px;
    position: absolute;
    top: 10px;
    width: 160px;
}

.element-add-expenses .line-90 {
    background-color: var(--gray-4);
    height: 216px;
    margin-bottom: -107.5px;
    margin-top: -36.5px;
    position: relative;
    transform: rotate(90deg);
    width: 1px;
}

.element-add-expenses .frame-512 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    left: 33px;
    position: absolute;
    top: 953px;
}

.element-add-expenses .frame-513 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    opacity: 0;
    position: relative;
}

.element-add-expenses .text-wrapper-165 {
    color: var(--gray-2);
    font-family: var(--h6-regular-font-family);
    font-size: var(--h6-regular-font-size);
    font-style: var(--h6-regular-font-style);
    font-weight: var(--h6-regular-font-weight);
    letter-spacing: var(--h6-regular-letter-spacing);
    line-height: var(--h6-regular-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.element-add-expenses .line-91 {
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 212px;
}

.element-add-expenses .frame-514 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.element-add-expenses .text-wrapper-166 {
    color: var(--red);
    font-family: var(--h6-regular-font-family);
    font-size: var(--h6-regular-font-size);
    font-style: var(--h6-regular-font-style);
    font-weight: var(--h6-regular-font-weight);
    letter-spacing: var(--h6-regular-letter-spacing);
    line-height: var(--h6-regular-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.element-add-expenses .component-194 {
    left: 280px !important;
    position: absolute !important;
    top: 0 !important;
}

.element-add-expenses .vuesax-bold-20 {
    height: 26px !important;
    position: relative !important;
    width: 26px !important;
}

.element-add-expenses .group-300 {
    background-color: var(--gray-4);
    border-radius: 10px;
    height: 714px;
    left: 1885px;
    position: absolute;
    top: 192px;
    width: 5px;
}

.element-add-expenses .frame-515 {
    background-color: var(--white);
    border-radius: 15px;
    height: 904px;
    left: 310px;
    overflow: hidden;
    position: absolute;
    top: 130px;
    width: 1580px;
}

.element-add-expenses .frame-516 {
    align-items: center;
    display: inline-flex;
    gap: 1024px;
    left: 20px;
    position: absolute;
    top: 20px;
}

.element-add-expenses .text-wrapper-167 {
    color: #202224;
    font-family: var(--h4-semi-bold-font-family);
    font-size: var(--h4-semi-bold-font-size);
    font-style: var(--h4-semi-bold-font-style);
    font-weight: var(--h4-semi-bold-font-weight);
    letter-spacing: var(--h4-semi-bold-letter-spacing);
    line-height: var(--h4-semi-bold-line-height);
    position: relative;
    width: fit-content;
}

.element-add-expenses .component-195 {
    flex: 0 0 auto !important;
}

.element-add-expenses .group-301 {
    height: 722px;
    left: 1568px;
    position: absolute;
    top: 152px;
    width: 5px;
}

.element-add-expenses .group-302 {
    background-color: var(--gray-4);
    border-radius: 10px;
    height: 722px;
}

.element-add-expenses .rectangle-114 {
    background-color: #202224;
    border-radius: 10px;
    height: 170px;
    width: 5px;
}

.element-add-expenses .frame-517 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 20px;
    position: absolute;
    top: 91px;
}

.element-add-expenses .add-expenses-details-16 {
    position: relative !important;
}

.element-add-expenses .frame-518 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.element-add-expenses .add-expenses-details-17 {
    color: var(--gray-1) !important;
}

.element-add-expenses .add-expenses-details-18 {
    left: 1149px !important;
    position: absolute !important;
    top: 0 !important;
}

.element-add-expenses .add-expenses-details-19 {
    color: var(--gray-1) !important;
    left: 47px !important;
}

.element-add-expenses .add-expenses-details-20 {
    left: 1149px !important;
    position: absolute !important;
    top: 0 !important;
    width: 77px !important;
}

.element-add-expenses .icon-instance-node-65 {
    height: 20px !important;
    position: relative !important;
    width: 24px !important;
}

.element-add-expenses .rectangle-115 {
    background-color: #202224;
    height: 1064px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 1920px;
}

.element-add-expenses .frame-519 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 15px;
    display: inline-flex;
    gap: 10px;
    left: 755px;
    padding: 20px;
    position: absolute;
    top: 210px;
}

.element-add-expenses .frame-520 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.element-add-expenses .frame-521 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.element-add-expenses .text-wrapper-168 {
    color: #202224;
    font-family: var(--h4-semi-bold-font-family);
    font-size: var(--h4-semi-bold-font-size);
    font-style: var(--h4-semi-bold-font-style);
    font-weight: var(--h4-semi-bold-font-weight);
    letter-spacing: var(--h4-semi-bold-letter-spacing);
    line-height: var(--h4-semi-bold-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.element-add-expenses .line-92 {
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 370px;
}

.element-add-expenses .input-field-30 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 96px;
    position: relative;
    width: 100%;
}

.element-add-expenses .label-36 {
    align-self: stretch;
    color: transparent;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
    margin-top: -1px;
    position: relative;
}

.element-add-expenses .text-wrapper-169 {
    color: #202224;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
}

.element-add-expenses .text-wrapper-170 {
    color: #e74c3c;
    font-family: var(--h7-medium-font-family);
    font-size: var(--h7-medium-font-size);
    font-style: var(--h7-medium-font-style);
    font-weight: var(--h7-medium-font-weight);
    letter-spacing: var(--h7-medium-letter-spacing);
    line-height: var(--h7-medium-line-height);
}

.element-add-expenses .component-196 {
    align-self: stretch !important;
    height: 65px !important;
    width: 100% !important;
}

.element-add-expenses .component-197 {
    flex: 1 !important;
    flex-grow: 1 !important;
}

.element-add-expenses .input-field-31 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 370px;
}

.element-add-expenses .component-198 {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    width: 100% !important;
}

.element-add-expenses .component-199 {
    margin-top: -1px !important;
}

.element-add-expenses .frame-522 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
}

.element-add-expenses .frame-265 {
    display: flex;
    align-items: center;
}

.element-add-expenses .input-field-32 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 96px;
    position: relative;
    width: 100%;
}

.element-add-expenses .component-200 {
    align-self: stretch !important;
    flex: 1 !important;
    flex-grow: 1 !important;
    width: 100% !important;
}

.element-add-expenses .component-201 {
    width: fit-content !important;
}

.element-add-expenses .component-202 {
    align-self: stretch !important;
    display: flex !important;
    flex: 1 !important;
    flex-grow: 1 !important;
    width: 100% !important;
}

.element-add-expenses .rupee-138 {
    height: 14px !important;
    position: relative !important;
    width: 14px !important;
}

.element-add-expenses .component-203 {
    flex: unset !important;
    width: fit-content !important;
}

.element-add-expenses .input-field-33 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 167px;
    position: relative;
    width: 175px;
    margin-left: 20px;
}

.element-add-expenses .component-204 {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
    width: 100% !important;
}

.element-add-expenses .frame-523 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.element-add-expenses .component-205 {
    align-self: stretch !important;
    display: flex !important;
    padding: 10px 55px !important;
    width: 175px !important;
}

.element-add-expenses .component-206 {
    font-family: var(--h6-medium-font-family) !important;
    font-size: var(--h6-medium-font-size) !important;
    font-style: var(--h6-medium-font-style) !important;
    font-weight: var(--h6-medium-font-weight) !important;
    letter-spacing: var(--h6-medium-letter-spacing) !important;
    line-height: var(--h6-medium-line-height) !important;
    margin-top: unset !important;
}

.element-add-expenses .component-207 {
    align-self: stretch !important;
    display: flex !important;
    padding: 12px 53px !important;
    width: 175px !important;
}


@media screen and (max-width:768px) {
   .element-add-expenses .frame-519 {
        left: 315px;
    }
  }

  @media screen and (max-width: 767px) {
   .element-add-expenses .frame-519 {
        left: 205px;
    }
}

@media screen and (max-width: 600px) {
   .element-add-expenses .frame-519 {
        left: 85px;
    }
}

@media screen and (max-width: 475px) {
   .element-add-expenses .frame-519 {
        left: 35px;
        top: 110px;
    }
}

@media screen and (max-width: 425px) {
   .element-add-expenses .frame-519 {
        left: 7px;
    }
}

@media screen and (max-width: 375px) {
   .element-add-expenses .frame-519 {
        left: 0px;
    }

    .add-participator-screen .frame-252 {
        display: block;
    }

    .add-participator-screen .input-field-10 .custom-input {
        width: 100% !important;
    }
}

@media screen and (max-width: 320px) {
    .element-add-expenses .frame-518 {
        display: block;
        width: 280px;
    }

    .element-add-expenses .input-field-30, .element-add-expenses .input-field-31 {
        width: 100%;
    }

    .element-add-expenses .date-field {
        height: 210px;
    }

    .element-add-expenses .frame-518 .customButton {
        width: 100% !important;
    }
}